html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

:root {
  --base:#ffffff;  
}

body {
    background: var(--base);
    text-align: center;
    font-family: "Rochester"
}

.container {
    display: flex;
    min-height: 100vh;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* .container > * {
    border: 2px solid red;
} */

#c1, #c2 {
    flex-basis: 5%;
}

.timer {
    /* flex-basis: 25%; */
    font-size: 100px;
    margin: 0;
    width: 225px;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

#t1 {
    margin-left: 10%;
}

#t3 {
    margin-right: 10%;
}


button, input {
    height: 35px;
    width: 20px;
    margin: 0 10px 0 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    flex-basis: 20%;
    font-family: "Rochester", sans-serif;
    font-size: 20px;

}

button:hover {
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(168, 168, 168);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(168, 168, 168);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #525050;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
